user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
	worker_connections 1024;
	multi_accept on;
}

http {
	proxy_cache_path {{ proxy_cache_dir }} levels=1:2 keys_zone={{ proxy_cache }}:10m max_size={{ proxy_cache_size }};

	upstream {{ proxy_upstream }} {
        	server us-pro-host01.ext.cabify.com:443;
        	server us-pro-host02.ext.cabify.com:443;
        	server us-pro-host03.ext.cabify.com:443;
	}

	server {
		listen {{ proxy_listen_port }};
		ssl {{ proxy_ssl_status }};
		ssl_certificate {{ proxy_ssl_cert }};
		ssl_certificate_key {{ proxy_ssl_key }};

		location / {
			proxy_pass https://{{ proxy_upstream }};
			proxy_cache {{ proxy_cache }};
			proxy_cache_valid 200 202 301 302 {{ proxy_cache_duration }};
		}
	}

	include /etc/nginx/sites-enabled/*.conf;
}

