upstream {{ meter_upstream }} {
	server 127.0.0.1:{{ meter_thin_port }};
}
	
server {
	listen {{ meter_port }};
	access_log {{ meter_access_log }};

	location /metrics {
		proxy_pass http://{{ meter_upstream }};
	}
}
